/* font family */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Shared styles */
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    font-size: 16px;
    padding: 12px 36px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}
button:hover{
    background-color: green;
}
h3{
    font-size: 42px;
    font-weight: bold;
}

/* nav styles */
header{
    background-image: url("../images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: black;
    color: #4E47FF;
}

/* Banner styles */
.banner{
    text-align: center;
    margin-top: 158px;
    padding-bottom: 152px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* action part styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 116px 150px 116px 150px;
}
.action-content{
    max-width: 517px;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    margin: 23px 0px;
}

/* productive-users part */
.productive-users{
    max-width: 1140px;
    border-radius: 24px;
    background-color: #4d47ff15;
    margin: 0px 150px 137px 150px;
}
.productive-users-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 40px 0px;
}
.productive-users-description{
    display: flex;
    justify-content: space-between;
    padding: 0px 142px 50px 142px;
}
.productive-users-description h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.productive-users-description p{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

/* users-say part */
.users-say{
    margin: 0px 150px 137px 150px;
}
.users-say-content{
    display: flex;
    gap: 20px;

}
.users-say-title{
    text-align: center;
    margin-bottom: 50px;
}
.content{
    max-width: 366px;
    background-color: #ffffff78;
    border-radius: 14px;
    border: 2px solid #F2EDED;
    padding: 24px;
    
}
.loved{
    padding: 24px 0 24px 0px;
}
.loved h4{
    padding-bottom: 8px;
}
.user{
    display: flex;
    gap: 12px;
    align-items: center;
}
.user h5{
    color: #757575;
}
.user h6{
    color: #B3B3B3;
}

/* ready part */
.ready{
    background-color: #f3f1f191;
    border-radius: 14px;
    max-width: 1140px;
    margin: 0px 150px 92px 150px;
    padding: 150px 71px 150px 71px;
}
.ready-content{
    padding-bottom: 20px;
    text-align: center;
}
.ready-title{
    font-size: 50px;
    font-weight: bold;
}
.ready-description{
    padding: 20px 0px 20px 0px;
}
.ready img{
    border-radius: 48px;
    margin: 0px 150px 0px 150px;
}

/* Let's get in touch part */
.touch{
    max-width: 1140px;
    margin: 0px 150px 14px 150px;
}
.touch-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.touch-title{
    font-size: 97px;
    font-weight: bold;
    line-height: 120%;
    max-width: 528px;
}
.input-1{
    padding: 20px 0px 20px 32px;
    background-color: #FFFFFF;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 497px;
    margin: 10px 0px 19px 0px;
}
.input-2{
    padding: 20px 0px 20px 32px;
    background-color: #FFFFFF;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 497px;
    margin: 10px 0px 19px 0px;
}
.input-3{
    padding: 20px 0px 0px 32px;
    background-color: #FFFFFF;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    width: 497px;
    padding-bottom: 19px;
    margin: 10px 0px 19px 0px;
}
.btn-last{
    padding: 19px 0px 19px 0px;
    width: 530px;
}

/* Footer part */
.footer-content{
    padding: 104px 455px 104px 455px;
}
footer{
    background-color: #FFFFFF;
    border: 1px solid #0000000f;
}
.footer-title{
    font-size: 100px;
    font-weight: rgba(0, 0, 0, 0.052);
    color: #4E47FF;
}
.footer-description{
    max-width: 531px;
    color: #8987A1;
    padding-bottom: 20px;
}
ul{
    display: flex;
    gap: 48px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #8987A1;
}
