/* font family */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Shared styles */
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    font-size: 16px;
    padding: 12px 36px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

/* nav styles */
header{
    background-image: url("/images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-title{
    font-size: 34px;
    font-weight: black;
    color: #4E47FF;
}
.banner{
    text-align: center;
    margin-top: 158px;
    padding-bottom: 152px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
/* body{
    max-width: 1140px;
} */
